<div ng-controller="add_product">
	
	<section class="content-header">
		<h1>Add Produk</h1>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List</h3>
					</div>

					<div class="box-body">
						<!-- <form action=""> -->
						<div class="form-group">
							<label for="">Masukkan url Jaknot</label>
							<input type="text" class="form-control" ng-model="url" ng-enter="fetchUrl()">
							<small ng-if="!grab_done">Please Wait...</small>
						</div>
						<button class="btn btn-info" ng-click="fetchUrl()">Grab</button>
						<!-- </form> -->

						<!-- <form action=""> -->
						<div class="form-group">
							<label for="">Cari Kategori</label>
							<br>
							<div class="col-md-9">
								<input type="text" ng-model="category_keyword" ng-enter="find_category()" class="form-control">
							</div>
							<div class="col-md-3">
								<button class="btn btn-info" ng-click="find_category()">Cari</button>
							</div>
						</div>
						<div class="form-group">
							<label for="">Kategori</label>
							<select ng-change="getCategory(lazada_category)" ng-model="lazada_category" name="" id="" class="form-control">
								<option ng-repeat="category in category_list" value="{{category.category_id}}">{{category.category_name}} (ID = {{category.category_id}} )</option>
							</select>
						</div>

						<div ng-show="showPhoneOption">
							<div class="form-group">
								<label for="">Cari nama HP</label>
								<br>
								<div class="col-md-9">
									<input type="text" ng-model="phone_keyword" ng-enter="find_phone()" class="form-control">
								</div>
								<div class="col-md-3">
									<button class="btn btn-info" ng-click="find_phone()">Cari</button>
								</div>
							</div>
							<div class="form-group">
								<label for="">List HP</label>
								<select ng-model="lazada_phone" name="" id="" class="form-control">
									<option ng-repeat="phone in phone_list" value="{{phone.name}}">{{phone.name}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="">Nama produk</label>
							<div class="col-md-12">
								<input type="text" ng-model="product_name" class="form-control" placeholder="produk">
							</div>
						</div>
						<div class="clearfix"></div>

						<div class="form-group">
							<label for="">Color</label>
							<select ng-model="color" name="" id="" class="form-control">
								<option ng-selected="true" value="Neutral">Neutral</option>
								<option value="Black">Black</option>
								<option value="Gold">Gold</option>
								<option value="Red">Red</option>
								<option value="White">White</option>
								<option value="Green">Green</option>
								<option value="Orange">Orange</option>
								<option value="Silver">Silver</option>
								<option value="Yellow">Yellow</option>
								<option value="Blue">Blue</option>
								<option value="Pink">Pink</option>
								<option value="Clear">Clear</option>
								<option value="Army Green">Army Green</option>
								<option value="Grey">Grey</option>
								<option value="Rose">Rose</option>
								<option value="Navy Blue">Navy Blue</option>
								<option value="Brown">Brown</option>
								<option value="Multicolor">Multicolor</option>
								<option value="Purple">Purple</option>
								<option value="Violet">Violet</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="">Cari Brand</label>
							<br>
							<div class="col-md-9">
								<input type="text" ng-model="brand_keyword" ng-enter="find_brand()" class="form-control">
							</div>
							<div class="col-md-3">
								<button class="btn btn-info" ng-click="find_brand()">Cari</button>
							</div>
						</div>

						<div class="form-group">
							<label for="">Brand</label>
							<select ng-model="lazada_brand" name="" id="" class="form-control">
								<option ng-repeat="brand in brand_list" value="{{brand.name}}">{{brand.name}}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="">Harga sesudah diskon</label>
							<div class="input-group">
								<div class="input-group-addon">
									Rp
								</div>
								<input ng-model="price_after" type="text" class="form-control">
							</div>
							<small>{{price_after | currency:"Rp "}}</small>	
						</div>

						<div class="form-group">
							<label for="">Harga Sebelum diskon</label>
							<div class="input-group">
								<div class="input-group-addon">
									Rp
								</div>
								<input ng-model="price_before" type="text" class="form-control">
							</div>
							<small>{{price_before | currency:"Rp"}}</small>
						</div>


						<div class="form-group">
							<label for="">Prefix SKU</label>
							<input type="text" class="form-control" ng-model="prefix_sku">
						</div>

						<textarea ui-tinymce="tinymceOptions" ng-model="highlight" ng-trim="false" maxlength='' rows="5" class="span5" style="width:80%"></textarea>

						<div class="form-group">
							<label for="">Ukuran produk</label>
							<input ng-model="length" type="text" class="form-control" placeholder="panjang">
							<input ng-model="width" type="text" class="form-control" placeholder="lebar">
							<input ng-model="height" type="text" class="form-control" placeholder="tinggi">
						</div>

						<div class="form-group">
							<label for="">Main image index</label>
							<input type="text" class="form-control" ng-model="main_image_index">
						</div>

						<div class="form-group">
							<label for="">Search Keyword</label>
							<tags-input ng-model="tags"></tags-input>
						</div>


						<button class="btn btn-success" ng-click="upload()">Upload</button>
						<!-- </form> -->
					</div>

				</div>
			</div>
		</div>
	</section>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Processing.....</h4>
				</div>
				<div class="modal-body">
					Please wait a moment, upload in progress.
				</div>
			</div>
		</div>
	</div>
</div>