<div ng-controller="list_product">
	<section class="content-header">
		<h1>List Produk</h1>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="box">
					<div class="box-body">
						<table class="table">
							<tr>
								<th>Nama</th>
								<th>Foto</th>
								<th>Harga Jaknot</th>
								<th>Harga Lazada</th>
								<th>Keuntungan (Bersih)</th>
								<th>Berat</th>
								<th>Action</th>
							</tr>
							<tr ng-repeat="product in list">
								<td>{{product.name}}</td>
								<td><img src="{{product.jaknote.images[0].link}}" width="50" height="50" alt="" class="img-responsive"></td>
								<td>{{toIdr(jaknotNormalPrice(product.jaknote.discount_price))}}</td>
								<td>{{toIdr(product.detail.SalePrice)}}</td>
								<td>{{profit(product.detail.SalePrice,jaknotNormalPrice(product.jaknote.discount_price))}}</td>
								<td>{{product.jaknote.weight}} Kg</td>
								<td>
									<button class="btn btn-info btn-sm" data-target="#detail_item" data-toggle="modal" ng-click="detail(product)">Detail
									</button>
								</td>
							</tr>
						</table>

						<div class="row">
							<div class="col-xs-2 col-xs-offset-7">
								<h4 class="sub-header text-right">
									Page :
								</h4>
							</div>
							<div class="col-xs-3">
								<select ng-model="currentPage" ng-change="changePage(currentPage)" class="form-control">
								  <option ng-repeat="n in [] | range:totalPage">{{$index+1}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="detail_item" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Update price</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<tr>
							<td>Name</td>
							<td>{{product_detail.name}}</td>
						</tr>
						<tr>
							<td>Jaknote Price</td>
							<td>{{toIdr(jaknotNormalPrice(product_detail.jaknote.discount_price))}}</td>
						</tr>
						<tr>
							<td>Lazada Price</td>
							<td>{{toIdr(product_detail.detail.Price)}}</td>
						</tr>
						<tr>
							<td>Lazada Sale Price</td>
							<td>{{toIdr(product_detail.detail.SalePrice)}}</td>
						</tr>
						<tr>
							<td>Biaya tambahan</td>
							<td>Rp 9.000 (dropship+ perbedaan onkir lazada) </td>
						</tr>
						<tr>
							<td>Profit</td>
							<td><strong>{{profit(product_detail.detail.SalePrice,jaknotNormalPrice(product_detail.jaknote.discount_price))}}</strong></td>
						</tr>
					</table>

					<h3 class="sub-header">Update Lazada price</h3>
					<form action="" class="form-horizontal">

						<div class="form-group">
						<label for="salePrice" class="col-sm-2 control-label">Sale price</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="editSalePrice" placeholder="Harga setalah diskon" ng-model="editSalePriceValue">
								{{editSalePriceValue | currency:"Rp "}}
							</div>
						</div>
						
						<div class="form-group">
						<label for="price" class="col-sm-2 control-label">Price</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="editPrice" placeholder="Harga sebelum diskon" ng-model="editPriceValue">
								{{editPriceValue | currency:"Rp "}}
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-disabled="editButtonDisable" class="btn btn-primary" ng-click="update(product_detail)">{{editButtonText}}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>